<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-newEat="{{eaten}}">
		{{#if eaten}}MUNCHING TIME!{{else}}COOK UP!{{/if}}
	</button>

	<button class="delete-sugar" data-id="{{this.id}}">DELETE!</button>
</li>
